    /* Required height of parents of the Full Page Intro and Intro itself */

    html,
    body,
    .view {
        height: 100%;
        background-color: rgba(199, 185, 178, 0.2);
        /* font-family: 'Source Sans Pro', sans-serif; */
        font-family: 'Josefin Sans', sans-serif;
    }
    /* Navbar animation */

    .navbar {
        background-color: rgba(202, 170, 155, 0.3);
    }
    /* Adding Section Header color */

    #section-intro,
    .contact {
        color: rgb(202, 170, 155);
    }
    /* Adding background image to the full page */

    #full-page-img {
        background-image: url("../img/solvaycolored.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .top-nav-collapse {
        background-color: rgb(202, 170, 155);
    }
    /* Adding button color to buttons and Hover effects */

    .btn-hover>button {
        color: rgb(95, 72, 61);
        /* background-color: rgb(202, 170, 155) !important; */
        border: solid 3px rgb(202, 170, 155);
    }

    .btn-hover>button:hover {
        color: #FFF !important;
        background-color: rgb(202, 170, 155);
    }
    /* Adding modal colors */

    .modal-dialog.modal-notify.modal-primary .badge,
    .modal-dialog.modal-notify.modal-primary .modal-header {
        background-color: rgb(202, 170, 155) !important;
        color: #FFF !important;
    }

    .modal-dialog.modal-notify.modal-primary .fab,
    .modal-dialog.modal-notify.modal-primary .far,
    .modal-dialog.modal-notify.modal-primary .fas {
        color: rgb(202, 170, 155) !important;
    }

    .fas {
        color: rgb(202, 170, 155)
    }

    .modal-footer {
        background-color: rgb(202, 170, 155);
        justify-content: space-between;
    }
    
    .modal-footer > h5 {
        color: rgb(255, 255, 255);
        text-align: left !important;
        font-size: medium;
    }

    .modal-footer > h5 > a {
        color: rgb(95, 72, 61);
    }

    .modal-footer > h5 > a:hover {
        color: rgb(255, 255, 255);
    }


    .btn-outline-info {
        color: #FFF !important;
        border: 1px solid #FFF !important;
        ;
    }

    .btn-outline-info.active,
    .btn-outline-info:active,
    .btn-outline-info:active:focus,
    .btn-outline-info:focus,
    .btn-outline-info:hover {
        color: rgb(202, 170, 155) !important;
        background-color: #FFF !important;
        border: solid 1px rgb(202, 170, 155) !important;
    }
    /* Adding color to the Navbar on mobile */

    @media only screen and (max-width: 768px) {
        .navbar {
            background-color: rgb(202, 170, 155);
        }
        .btn-container {
            display: grid;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: rgb(202, 170, 155) !important;
        }
    }
    /* Footer color for sake of consistency with Navbar */

    .page-footer {
        background-color: rgb(202, 170, 155);
    }
    /* Styling of the Contact Us Section */

    #contact-section {
        color: rgb(95, 72, 61);
    }

    #contact-button {
        background-color: rgb(202, 170, 155)!important;
        color: #FFF;
    }

    .contact-details {
        color: rgb(202, 170, 155);
    }

    .md-form .prefix.active,
    .md-form.md-outline input[type=password]:focus:not([readonly])+label,
    .md-form.md-outline input[type=email]:focus:not([readonly])+label,
    .md-form.md-outline input[type=url]:focus:not([readonly])+label,
    .md-form.md-outline input[type=time]:focus:not([readonly])+label,
    .md-form.md-outline input[type=date]:focus:not([readonly])+label,
    .md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label,
    .md-form.md-outline input[type=tel]:focus:not([readonly])+label,
    .md-form.md-outline input[type=number]:focus:not([readonly])+label,
    .md-form.md-outline input[type=search]:focus:not([readonly])+label,
    .md-form.md-outline input[type=search-md]:focus:not([readonly])+label,
    .md-form.md-outline input[type=text]:focus:not([readonly])+label,
    .md-form.md-outline textarea.md-textarea:focus:not([readonly])+label {
        color: rgb(202, 170, 155);
        border-color: rgb(202, 170, 155);
    }

    .md-form.md-outline input[type=password]:focus:not([readonly]),
    .md-form.md-outline input[type=email]:focus:not([readonly]),
    .md-form.md-outline input[type=url]:focus:not([readonly]),
    .md-form.md-outline input[type=time]:focus:not([readonly]),
    .md-form.md-outline input[type=date]:focus:not([readonly]),
    .md-form.md-outline input[type=datetime-local]:focus:not([readonly]),
    .md-form.md-outline input[type=tel]:focus:not([readonly]),
    .md-form.md-outline input[type=number]:focus:not([readonly]),
    .md-form.md-outline input[type=search]:focus:not([readonly]),
    .md-form.md-outline input[type=search-md]:focus:not([readonly]),
    .md-form.md-outline input[type=text]:focus:not([readonly]),
    .md-form.md-outline textarea.md-textarea:focus:not([readonly]) {
        border-color: rgb(202, 170, 155) !important;
        box-shadow: inset 0 0 0 1px rgb(202, 170, 155);
    }
    /* Styling Accordion color for text */

    .card-header>a>h5 {
        color: rgb(255, 255, 255);
        font-weight: 500;
    }

    .card-header {
        background-color: rgb(202, 170, 155);
    }
    .card-body {
        text-align: left;
        font-weight:100;
    } 

    blockquote>em {
        font-weight: 500;
    }

    .scientist-img {
        text-align: center;
    }
